# Data folders (too large for GitHub)
data/
processed_faces/
gradcam_results/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
venv/
env/
ENV/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
